<div class="w-[100%] h-[100vh] grid grid-cols-[220px_1fr]">
  <div class="sidebar">
    <div class="bg-gradient-to-b from-[#FFB354] to-[#EE7A3A] text-center py-[11.5px]">
      <span class="text-white font-bold text-[30px]">SLACA 2019</span>
    </div>

    <img
      class="logo w-[220px] h-[258px]"
      src="assets/logo.png"
    />

    <ul class="menu list-none">
      <div class="item">
        <li>Apresentação</li>
      </div>

      <div class="item">
        <li>Comitês</li>
      </div>

      <div class="item">
        <li>Autores</li>
      </div>

      <div class="item">
        <li>Eixos Temáticos</li>
      </div>

      <div class="item">
        <li>Trabalhos</li>
      </div>

      <div class="item">
        <li>Contatos</li>
      </div>
    </ul>
  </div>

  <div class="grid grid-rows-[68px_6fr_181px]">
    <div>
      
    </div>

    <div>
      
    </div>

    <div>
      
    </div>
  </div>
</div>