/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    box-shadow: 0px 0px 10px 0px #00000040;
}

ul.menu {
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 15px;

    .item {
        li {
            padding: 7px 0;
            padding-inline-start: 24px;
            color: #725C5C;
            border-bottom: 2px solid #E7E7E7 !important;
            cursor: pointer;
        }

        &:hover {
            background-color: #FDF1EB;
            border-image: linear-gradient(to top, #FFB455, #ED7839) 2;
            border-left-width: 2px;
        }
    }
}